<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <a class='navbar-brand'>
        <img alt='dog' src='/dog.png' height='30' width='30'>
      </a>
      <a class='navbar-brand'>Petshop de cachorros</a>
    </div>
  </div>
</nav>
<table id='dogs' class='table' data-source='<% dogs_url(format: 'json') %>'>
  <thead>
    <tr>
      <th><i class='fa fa-paw' aria-hidden='true'></i> Nome</th>
      <th><i class='fa fa-paw' aria-hidden='true'></i> Raça</th>
      <th><i class='fa fa-paw' aria-hidden='true'></i> Data de nascimento</th>
      <th><i class='fa fa-paw' aria-hidden='true'></i> Gênero</th>
      <th><i class='fa fa-paw' aria-hidden='true'></i> Castrado</th>
      <th><i class='fa fa-user-circle' aria-hidden='true'></i> Nome do dono</th>
      <th><i class='fa fa-user-circle' aria-hidden='true'></i> Telefone do dono</th>
      <th><i class='fa fa-user-circle' aria-hidden='true'></i> Data da última visita</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>